nav{
    background-color: #333545;
}

.btn{
    background-color: #f84464 !important;
    color:  black !important;
    padding: 2px 15px !important;
    font-size: 15px !important;
}

.form-control{
    font-size: 15px !important;
}

.nav-link{
    color: white !important;
}

header{
    background-color: #222539;
}

header ul{
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

header ul li a{
    text-decoration: none;
    color: rgb(204, 204, 204);
    padding: 0px 10px;
    font-size: 14px;
}

.coindcx{
    margin-top: 50px;
}

.owl-carousel{
    position: relative;
}

.owl-dots{
    position: absolute;
    bottom: 10px;
    left: 590px;
}

.item > a > img{
    border-radius: 5px;
}

.premier{
    background-color: #2B3148;
    width: 100%;
    height: 580px;
    color: white;
}

.premieres_slider > h6 ,
.first_slider > h6,
.events_slider > h6,
.online_streaming > h6,
.outdoor_events > h6,
.laughter_slider > h6,
.popular_events > h6{
margin-top: 7px;
margin-bottom: 0px;
}

.head_premier > h4{
    font-weight: bold;
    margin-bottom: 0px !important;
}

.head_premier >p {
    margin-bottom: 0.5rem;
}

.first_slider > p,
.events_slider > p,
.online_streaming > p,
.outdoor_events > p,
.laughter_slider >p,
.popular_events > p
{
    margin-top: 5px;
    margin-bottom: 0px;
}